*{
  background-color: rgb(214,226,252);
}
section{
  height: 20vh;
  width: 20vw;
  background-color: deeppink;
}
ft{
  width: 300px;
  height: 300px;
}
wpp{
  width: 40px;
  height: 40px;
}
a{
  color: cyan;
}